{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <body>
        <ul>
            {% comment %} <li>
                <a href="{% url "" %}">About</a>
            </li>
            <li>
                <a href="{% url "" %}">Books</a>
            </li> {% endcomment %}
            {% if user.is_authenticated %}
            <li>
                <a href="{% url "account_logout" %}">Log Out</a>
            </li>
            {% else %}
            <li>
                <a href="{% url "account_login" %}">Log In</a>
            </li>
            <li>
                <a href="{% url "account_signup" %}">Sign Up</a>
            </li>
            {% endif %}
        </ul>

    <div class="container">
        {% block content %}{% endblock content %}
    </div>
</body>
</html>