body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  h1, h2, h3 {
    color: #2980b9;
    text-align: center;
  }
  
  a {
    color: #2980b9;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  form {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  form button[type="submit"] {
    background-color: #2980b9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  form button[type="submit"]:hover {
    background-color: #27ae60;
  }
  
  .home-page h1 {
    margin-top: 50px;
  }
  
  .pagenotfound-page h1 {
    margin-top: 50px;
  }
  
  .redirect-page a {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
  }

  .redirect-page h3 {
    color: #27ae60;
  }

  .redirect-page span {
    color: #ae2727;
  }
  
  .urlcreated-page h2 {
    margin-bottom: 10px;
  }
  
  .urlcreated-page span {
    display: block;
    word-break: break-all;
    color: #27ae60; 
    text-decoration: underline;

  }
  
  .urlcreated-page h3 {
    margin-top: 20px;
  }